# Quick example of using sets on arrays

## A quick exmple of manipulating array 
#### 1) using for loops and
#### 2) using pandas

In [1]:
import pandas as pd

test = {'abc': [1, 2, 3], 'def': [2, 3, 9], 'ghi': [4, 6, 8]}

In [2]:
test_df=pd.DataFrame(test)

In [3]:
test_df.head()

   abc  def  ghi
0    1    2    4
1    2    3    6
2    3    9    8

In [8]:
(test_df['ghi'] > 5)+0

0    0
1    1
2    1
Name: ghi, dtype: int64

In [17]:
test_df['e']=((test_df['ghi'] > 5)+0)

In [19]:
test_df.shape

(3, 4)

In [21]:
test_df.isnull().apply(sum,0)

abc    0
def    0
ghi    0
e      0
dtype: int64

In [22]:
test_df.isnull().sum()

abc    0
def    0
ghi    0
e      0
dtype: int64

In [ ]:
sentence = 'I love python programming'
''.join(sentence[-i] for i in range(1, len(sentence)+1))

'gnimmargorp nohtyp evol I'

df['e']=((df['D'] > 15)+0)

df.head()

df.shape

df.describe()

# across columns
df.isnull().apply(sum,0)

# across rows
df.isnull().apply(sum,1)

df.isnull().sum()

df.pivot_table(['Category','Subcategory'],values='Sales',func='sum').sort_ascending()

df.groupby(['Category','Subcategory'])['Sales']

# Standard SQL
select sum(Sales) as total from Table
group by Category, Subcategory

# OLAP
select sum(Sales) over (partition by Category, Subcategory order by Category)

In [3]:
# extract unique values

unique_values = set(value for values in test.values() for value in values)
unique_values

{1, 2, 3, 4, 6, 8, 9}

In [4]:
test2 = pd.DataFrame(test)

In [5]:
test2.value_counts()

abc  def  ghi
1    2    4      1
2    3    6      1
3    9    8      1
dtype: int64

In [ ]:
df.isnull().apply(sum,1)

In [4]:
for x in test.values():
        print(x)
        print('-')

[1, 2, 3]
-
[2, 3, 9]
-
[4, 6, 8]
-

In [6]:
for x in test.values():
    for y in x:
        print(y)
        print('-')

1
-
2
-
3
-
2
-
3
-
9
-
4
-
6
-
8
-

In [7]:
lst = []

for x in test.values():

    for y in x:

        lst.append(y)

In [8]:
set(lst)

{1, 2, 3, 4, 6, 8, 9}

In [5]:
# Using Pandas to extract unique values

# Convert the dictionary to a DataFrame
df = pd.DataFrame(test)

# Extract unique values using pandas
unique_values_pandas = df.stack().unique()
unique_values_pandas

array([1, 2, 4, 3, 6, 9, 8])

In [20]:
sorted(df.stack().unique(),reverse=True)

[9, 8, 6, 4, 3, 2, 1]

In [29]:
df.stack().value_counts().keys().sort_values()

Int64Index([1, 2, 3, 4, 6, 8, 9], dtype='int64')