# Quick example of using sets on arrays

## A quick exmple of manipulating array 
#### 1) using for loops and
#### 2) using pandas

In [ ]:
#########################
# Author: Source of Truth Data labs
# Date: 2023-10-11
# Version: 1.0
# Description: A brief Data Science Interview
# Revision History: 2023-10-11 Program creation
# Purpose: General Review     
#########################

In [23]:
# what does this do?

sentence = 'I love python programming'

''.join(sentence[-i] for i in range(1, len(sentence)+1))

'gnimmargorp nohtyp evol I'

In [27]:
# create a DF

import pandas as pd

my_dict = {'a': [1, 2, 3], 'b': [2, 3, 9], 'c': [4, 6, 8]}

In [28]:
df = pd.DataFrame(my_dict)

In [29]:
df.head()

   a  b  c
0  1  2  4
1  2  3  6
2  3  9  8

In [31]:
(df['c'] > 5)+0

0    0
1    1
2    1
Name: c, dtype: int64

In [32]:
df['e']=((df['c'] > 5)+0)

In [33]:
df.shape

(3, 4)

In [34]:
df.isnull().apply(sum,0)

a    0
b    0
c    0
e    0
dtype: int64

In [35]:
df.isnull().sum()

a    0
b    0
c    0
e    0
dtype: int64

In [42]:
# aggregae DF

df.pivot_table(values='c', columns=['a','b'], aggfunc='sum')

a  1  2  3
b  2  3  9
c  4  6  8

In [51]:
# alternatively 
df.groupby(['a','b'])['c'].sum()

a  b
1  2    4
2  3    6
3  9    8
Name: c, dtype: int64

In [47]:
# dict extract unique values

unique_values = set(value for values in my_dict.values() for value in values)
unique_values

{1, 2, 3, 4, 6, 8, 9}

In [48]:
# convert dict to df

df2 = pd.DataFrame(df)

In [49]:
# count 

df2.value_counts()

a  b  c  e
1  2  4  0    1
2  3  6  1    1
3  9  8  1    1
dtype: int64

In [53]:
# number of nulls

df2.isnull().apply(sum,1)

0    0
1    0
2    0
dtype: int64

In [54]:
# for loop 

for x in my_dict.values():
        print(x)
        print('-')

[1, 2, 3]
-
[2, 3, 9]
-
[4, 6, 8]
-

In [55]:
# practice for loops 

for x in my_dict.values():
    for y in x:
        print(y)
        print('-')

1
-
2
-
3
-
2
-
3
-
9
-
4
-
6
-
8
-

In [56]:
lst = []

for x in my_dict.values():

    for y in x:

        lst.append(y)

In [57]:
set(lst)

{1, 2, 3, 4, 6, 8, 9}

In [58]:
# Using Pandas to extract unique values

# Convert the dictionary to a DataFrame
df = pd.DataFrame(my_dict)

# Extract unique values using pandas
unique_values_pandas = df.stack().unique()
unique_values_pandas

array([1, 2, 4, 3, 6, 9, 8])

In [60]:
# alternative method to extract unique values 

sorted(df.stack().unique(),reverse=True)

[9, 8, 6, 4, 3, 2, 1]

In [61]:
# another method 

df.stack().value_counts().keys().sort_values()

Int64Index([1, 2, 3, 4, 6, 8, 9], dtype='int64')